{
  "openapi": "3.1.0",
  "info": {
    "title": "Prflght API",
    "description": "Transaction firewall for AI agents on Solana. Simulate, policy-check, and attest transactions before they reach the chain.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.prflght.xyz"
    }
  ],
  "paths": {
    "/check": {
      "post": {
        "summary": "Validate and attest a transaction",
        "description": "Submit a serialized Solana transaction for simulation, policy evaluation, and protocol health checks. Returns signed ed25519 attestation instructions on approval, or a denial reason on rejection.",
        "operationId": "checkTransaction",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckRequest"
              },
              "example": {
                "tx": "AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACAAQAHDg==",
                "agentId": "4sGjMW1sUnHuiSFRhCAUt3pCkTaLRF1rBDUBGfVXvBb3"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transaction allowed — attestation instructions returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AllowResponse"
                },
                "example": {
                  "decision": "allow",
                  "policyHash": "a3f9c12e8b4d7a0156ef23c9814bdf2e99c0a71d3b55f8e241d36a07c4e89f12",
                  "expiry": 1713000060,
                  "attestationIxs": [
                    {
                      "programId": "PrfLGHT11111111111111111111111111111111111111",
                      "accounts": [
                        {
                          "pubkey": "4sGjMW1sUnHuiSFRhCAUt3pCkTaLRF1rBDUBGfVXvBb3",
                          "isSigner": false,
                          "isWritable": false
                        }
                      ],
                      "data": "AjKx9mFp..."
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Transaction denied — policy violation, protocol health failure, or simulation error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DenyResponse"
                },
                "example": {
                  "decision": "deny",
                  "reason": "notional exceeds policy max_notional_usdc (10000)"
                }
              }
            }
          },
          "400": {
            "description": "Malformed request — missing or invalid fields.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CheckRequest": {
        "type": "object",
        "required": ["tx", "agentId"],
        "properties": {
          "tx": {
            "type": "string",
            "description": "Base64-encoded serialized Solana VersionedTransaction."
          },
          "agentId": {
            "type": "string",
            "description": "Agent wallet public key as a base58 string. Used to look up the governing policy."
          }
        }
      },
      "AttestationInstruction": {
        "type": "object",
        "properties": {
          "programId": {
            "type": "string",
            "description": "Public key of the Prflght attestation program."
          },
          "accounts": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "pubkey": { "type": "string" },
                "isSigner": { "type": "boolean" },
                "isWritable": { "type": "boolean" }
              }
            }
          },
          "data": {
            "type": "string",
            "description": "Base64-encoded instruction data containing the signed attestation payload."
          }
        }
      },
      "AllowResponse": {
        "type": "object",
        "properties": {
          "decision": {
            "type": "string",
            "enum": ["allow"]
          },
          "policyHash": {
            "type": "string",
            "description": "Hex string identifying the policy version evaluated. Use for audit trails."
          },
          "expiry": {
            "type": "integer",
            "description": "Unix timestamp (seconds) after which the attestation is invalid. Submit the transaction before this time."
          },
          "attestationIxs": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/AttestationInstruction" },
            "description": "Instructions to prepend to your transaction before submitting on-chain."
          }
        }
      },
      "DenyResponse": {
        "type": "object",
        "properties": {
          "decision": {
            "type": "string",
            "enum": ["deny"]
          },
          "reason": {
            "type": "string",
            "description": "Human-readable explanation of why the transaction was denied."
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          }
        }
      }
    }
  }
}
